@page "/fetchdata"
@using Horsesoft.Music.Data.Model
@using Horsesoft.Music.Data.Model.Horsify
@inject HttpClient http

<h1>Horsify Stats</h1>

@if (stats == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Songs</th>
                <th>Albums</th>
                <th>UnRated</th>
                <th>Untagged</th>
            </tr>
        </thead>
        <tbody>
             
            <tr>
                <td>@stats.SongCount</td>
                <td>@stats.AlbumCount</td>
                <td>@stats.Unrated</td>
                <td>@stats.Untagged</td>
            </tr>
        </tbody>
    </table>
}

@functions {
    Stat stats;

    protected override async Task OnInitAsync()
    {
        http.BaseAddress = new Uri("http://localhost:8089/");
        stats = await http.GetJsonAsync<Stat>("api/Stats");
        Console.WriteLine(stats);
        //songs = await _api.ExtraSearch(ExtraSearchType.MostPlayed);
    }
}
