<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHorsifySongService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/HorsifySongService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHorsifySongService"
        contract="HorsifyService.IHorsifySongService" name="BasicHttpBinding_IHorsifySongService" />
    </client>
  </system.serviceModel>
</configuration>