<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir=$(var.Horsesoft.Music.Horsify.Importer.UI.WPF.TargetDir)?>
  <?define Horsesoft.Music.Horsify.Service_TargetDir=$(var.Horsesoft.Music.Horsify.Service.TargetDir)?>
  <?define Horsesoft.Horsify.SongService_TargetDir=$(var.Horsesoft.Horsify.SongService.TargetDir)?>
  <?define Horsesoft.Horsify.Resource_TargetDir=$(var.Horsesoft.Horsify.Resource.TargetDir)?>      
  <?define Horsesoft.Music.Horsify.Base_TargetDir=$(var.Horsesoft.Music.Horsify.Base.TargetDir)?>
  <?define Horsesoft.Music.Data.Model_TargetDir=$(var.Horsesoft.Music.Data.Model.TargetDir)?>
  <?define Horsesoft.Music.Engine_TargetDir=$(var.Horsesoft.Music.Engine.TargetDir)?>  
  <?define Horsesoft.Horsify.DjHorsify_TargetDir=$(var.Horsesoft.Horsify.DjHorsify.TargetDir)?>
  <?define Horsesoft.Music.Horsify.WPF.Shell_TargetDir=$(var.Horsesoft.Music.Horsify.WPF.Shell.TargetDir)?>

  <!--<?define Horsesoft.Horsify.SideMenu_TargetDir=$(var.Horsesoft.Horsify.SideMenu.TargetDir)?>
  <?define Horsesoft.Horsify.SettingsModule_TargetDir=$(var.Horsesoft.Horsify.SettingsModule.TargetDir)?>
  <?define Horsesoft.Horsify.SearchModule_TargetDir=$(var.Horsesoft.Horsify.SearchModule.TargetDir)?>
  <?define Horsesoft.Horsify.ServicesModule_TargetDir=$(var.Horsesoft.Horsify.ServicesModule.TargetDir)?>
  <?define Horsesoft.Horsify.QueueModule_TargetDir=$(var.Horsesoft.Horsify.QueueModule.TargetDir)?>
  <?define Horsesoft.Horsify.MediaPlayer_TargetDir=$(var.Horsesoft.Horsify.MediaPlayer.TargetDir)?>
  <?define Horsesoft.Horsify.DjHorsify_TargetDir=$(var.Horsesoft.Horsify.DjHorsify.TargetDir)?>-->
  <!--<?define Horsesoft.Horsify.Statistics_TargetDir=$(var.Horsesoft.Horsify.Statistics.TargetDir)?>-->
  <!--<?define Horsesoft.Music.Horsify.Repositories_TargetDir=$(var.Horsesoft.Music.Horsify.Repositories.TargetDir)?>-->

    <Product Id="FE9F9586-5146-462C-8408-41EA49BECC4C" Name="Horsify" Language="1033" Version="0.1.0.70" Manufacturer="Horsesoft" UpgradeCode="22fae438-87e8-441b-830f-95915651ab75">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\license.rtf" />
      
      
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Horsify" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Horsify">
				  <Directory Id="SQL" Name="SQL" />
        </Directory>

        <Directory Id="ProgramMenuFolder">
          <Directory Id="ApplicationProgramsFolder" Name="Horsify" />
        </Directory>

        <Directory Id="DesktopFolder" Name="Desktop" />
        
			</Directory>      
		</Directory>        
	</Fragment>


  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="6678A5C1-C39F-4166-8838-5C285F6087B6">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Horsify Jukebox" Description="Plays Horsify songs" Target="[INSTALLFOLDER]Horsify Jukebox.exe" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
        <Shortcut Id="ApplicationImporterStartMenuShortcut" Name="Horsify Importer" Description="Imports songs into Horsify Database" Target="[INSTALLFOLDER]Horsify Importer.exe" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Horsesoft\Horsify" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="AF06F346-4257-4657-AF93-1DC38EB89DF3">
        <Shortcut Id="ApplicationDesktopShortcut" Name="Horsify Jukebox" Description="Plays Horsify songs" Target="[INSTALLFOLDER]Horsify Jukebox.exe" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
        <Shortcut Id="ImporterDesktopShortcut" Name="Horsify Importer" Description="Imports songs into Horsify" Target="[INSTALLFOLDER]Horsify Importer.exe" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
        <RemoveFolder Id="RemoveDesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Horsesoft\Horsify" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!--<DirectoryRef Id="DesktopFolder">
      <Component Id="ImporterDesktopShortcut" Guid="FD0E787C-1229-4234-AE3D-0AE15A49D646">

        <RemoveFolder Id="RemoveImporterDesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Horsesoft\Horsify" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>-->
    
  </Fragment>
  

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">      
			
			<Component Id="Horsesoft.Music.Data.Model.dll" Guid="e8c21084-e89b-47d8-8559-57f24405e697">
			  <File Id="Horsesoft.Music.Data.Model.dll" Name="Horsesoft.Music.Data.Model.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)Horsesoft.Music.Data.Model.dll" />
			</Component>
      
      <!--SQLITE3-->
			<Component Id="Microsoft.Data.Sqlite.dll" Guid="a5f9e2fc-602a-447e-943d-be939eec30ae">
			  <File Id="Microsoft.Data.Sqlite.dll" Name="Microsoft.Data.Sqlite.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)Microsoft.Data.Sqlite.dll" />
			</Component>
			<Component Id="SQLitePCLRaw.batteries_green.dll" Guid="278bb366-65fb-404e-b0a1-16a5cf3260ff">
			  <File Id="SQLitePCLRaw.batteries_green.dll" Name="SQLitePCLRaw.batteries_green.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)SQLitePCLRaw.batteries_green.dll" />
			</Component>
			<Component Id="SQLitePCLRaw.core.dll" Guid="7a2e12c4-c45f-4465-b72b-521c35f8a181">
			  <File Id="SQLitePCLRaw.core.dll" Name="SQLitePCLRaw.core.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)SQLitePCLRaw.core.dll" />
			</Component>
			<Component Id="SQLitePCLRaw.provider.e_sqlite3.dll" Guid="5775cb58-7121-494c-9cfe-8494fa533c1c">
			  <File Id="SQLitePCLRaw.provider.e_sqlite3.dll" Name="SQLitePCLRaw.provider.e_sqlite3.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)SQLitePCLRaw.provider.e_sqlite3.dll" />
			</Component>
			<Component Id="SQLitePCLRaw.batteries_v2.dll" Guid="068a3a0c-a542-4907-b9ef-c445b55010b3">
			  <File Id="SQLitePCLRaw.batteries_v2.dll" Name="SQLitePCLRaw.batteries_v2.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)SQLitePCLRaw.batteries_v2.dll" />
			</Component>
      <!--E_SQLLITE3 Dll-->
      <Component Id="e_sqlite3.dll" Guid="cfd8257f-b3ef-4bcb-b130-20dd5541918d">
        <File Id="e_sqlite3.dll" Name="e_sqlite3.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)/x86/e_sqlite3.dll" />
      </Component>
      <!--<Component Id="sqlite3.dll" Guid="93865e4e-da11-4a4b-a284-7507fbc2f317">
        <File Id="sqlite3.dll" Name="sqlite3.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)sqlite3.dll" />
      </Component>-->
      <!--Horsesoft.Music.Data.Sqlite.dll-->
      <Component Id="Horsesoft.Music.Data.Sqlite.dll" Guid="cfd8257f-b3ef-4bcb-b130-20365541918d">
        <File Id="Horsesoft.Music.Data.Sqlite.dll" Name="Horsesoft.Music.Data.Sqlite.dll" Source="$(var.Horsesoft.Music.Horsify.Service_TargetDir)Horsesoft.Music.Data.Sqlite.dll" />
      </Component>

      <!--REPO-->
			<Component Id="Horsesoft.Music.Horsify.Repositories.dll" Guid="158f9ffc-0983-4264-8201-2a78b90b2d9d">
			  <File Id="Horsesoft.Music.Horsify.Repositories.dll" Name="Horsesoft.Music.Horsify.Repositories.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)Horsesoft.Music.Horsify.Repositories.dll" />
			</Component>						
			
		  <!--INSTALL WINDOWS SERVICE-->			
      <Component Id="Horsesoft.Music.Horsify.Service.exe" Guid="de8dc4e2-878d-4a40-a8d3-eb7d5f62579c">
        <File Id="Horsesoft.Music.Horsify.Service.exe" Name="Horsesoft.Music.Horsify.Service.exe" Source="$(var.Horsesoft.Music.Horsify.Service_TargetDir)Horsesoft.Music.Horsify.Service.exe" DiskId="1" KeyPath="yes" />
        <ServiceInstall Id="HorsifyService" Type="ownProcess" Name="HorsifyService" DisplayName="Horsify Song Service" Description="This service accesses the Horsify song data" Start="auto" Account="LocalSystem" ErrorControl="normal">
        </ServiceInstall>
        <ServiceControl Id="HorsifyService" Start="install" Stop="both" Remove="both" Name="HorsifyService" Wait="no" />
      </Component>
      <Component Id="Horsesoft.Music.Horsify.Service.exe.config" Guid="cfd8257f-b3ef-4bcb-b130-203655419187">
			  <File Id="Horsesoft.Music.Horsify.Service.exe.config" Name="Horsesoft.Music.Horsify.Service.exe.config" Source="$(var.Horsesoft.Music.Horsify.Service_TargetDir)Horsesoft.Music.Horsify.Service.exe.config" />
			</Component>
			<Component Id="Horsesoft.Horsify.SongService.dll" Guid="b44839d0-1cb9-4dbf-87a2-f13ab9416c87">
			  <File Id="Horsesoft.Horsify.SongService.dll" Name="Horsesoft.Horsify.SongService.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)Horsesoft.Horsify.SongService.dll" />
			</Component>
			<!--<Component Id="EntityFramework.dll" Guid="3594355f-4863-43fc-9f2e-cb3334d16646">
			  <File Id="EntityFramework.dll" Name="EntityFramework.dll" 
              Source="$(var.Horsesoft.Music.Engine_TargetDir)EntityFramework.dll" />
			</Component>-->

			<Component Id="Microsoft.EntityFrameworkCore.dll" Guid="92d4f269-6e46-4bc9-8ffe-f387ea9de4f1">
			  <File Id="Microsoft.EntityFrameworkCore.dll" Name="Microsoft.EntityFrameworkCore.dll" 
              Source="$(var.Horsesoft.Music.Engine_TargetDir)Microsoft.EntityFrameworkCore.dll" />
			</Component>

      <!--Horsesoft.Horsify.SongService_TargetDir-->

      <!--<Component Id="SQLitePCLRaw.batteries_e_sqlite3.dll" Guid="bd9c8aba-4fc6-4ade-a9a8-eb0bca232131">
			  <File Id="SQLitePCLRaw.batteries_e_sqlite3.dll" Name="SQLitePCLRaw.batteries_e_sqlite3.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)SQLitePCLRaw.batteries_e_sqlite3.dll" />
			</Component>-->
			<!--<Component Id="System.Data.SQLite.dll" Guid="48df1fbe-dd5b-4594-8294-8386db9f369e">
			  <File Id="System.Data.SQLite.dll" Name="System.Data.SQLite.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)System.Data.SQLite.dll" />
			</Component>-->
			<!--<Component Id="System.Data.SQLite.EF6.dll" Guid="a60ce8dd-e3a1-432b-a187-aca17a93782b">
			  <File Id="System.Data.SQLite.EF6.dll" Name="System.Data.SQLite.EF6.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)System.Data.SQLite.EF6.dll" />
			</Component>-->
			<Component Id="System.Diagnostics.DiagnosticSource.dll" Guid="df5c93dd-ab4d-4782-b1ad-e6869a3dbb30">
			  <File Id="System.Diagnostics.DiagnosticSource.dll" Name="System.Diagnostics.DiagnosticSource.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)System.Diagnostics.DiagnosticSource.dll" />
			</Component>
			<!--<Component Id="System.Data.SQLite.Linq.dll" Guid="fc5157ea-7a1e-495a-863e-78e1bc2e58dc">
			  <File Id="System.Data.SQLite.Linq.dll" Name="System.Data.SQLite.Linq.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)System.Data.SQLite.Linq.dll" />
			</Component>-->


      <!--Horsesoft.Music.Horsify.Service-->
      
      <!--<Component Id="System.Interactive.Async.dll" Guid="b6a88d12-f048-4766-a1d2-f922a677f721">
			  <File Id="System.Interactive.Async.dll" Name="System.Interactive.Async.dll" Source="$(var.Horsesoft.Music.Horsify.Service_TargetDir)System.Interactive.Async.dll" />
			</Component>-->
			<!--<Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="f1a8c2a1-d72d-4cd0-b2af-51ba4b1ba830">
			  <File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.Horsesoft.Music.Horsify.Service_TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
			</Component>-->
      <!--<Component Id="EntityFramework.SqlServer.dll" Guid="734d6824-c4f7-4d11-88ba-f4cc168624e3">
        <File Id="EntityFramework.SqlServer.dll" Name="EntityFramework.SqlServer.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)EntityFramework.SqlServer.dll" />
      </Component>-->
      <!--<Component Id="Microsoft.EntityFrameworkCore.Relational.dll" Guid="264105c7-e06c-4892-8669-ab8bc60490f7">
        <File Id="Microsoft.EntityFrameworkCore.Relational.dll" Name="Microsoft.EntityFrameworkCore.Relational.dll" Source="$(var.Horsesoft.Music.Horsify.Service_TargetDir)Microsoft.EntityFrameworkCore.Relational.dll" />
      </Component>
      <Component Id="Microsoft.EntityFrameworkCore.Sqlite.dll" Guid="41379c36-26bb-4562-aa84-62c2eea52c2d">
        <File Id="Microsoft.EntityFrameworkCore.Sqlite.dll" Name="Microsoft.EntityFrameworkCore.Sqlite.dll" Source="$(var.Horsesoft.Music.Horsify.Service_TargetDir)Microsoft.EntityFrameworkCore.Sqlite.dll" />
      </Component>-->
      <!--<Component Id="Remotion.Linq.dll" Guid="e2868a66-5cb6-45a1-94ab-060ea4b2eb45">
        <File Id="Remotion.Linq.dll" Name="Remotion.Linq.dll" Source="$(var.Horsesoft.Music.Horsify.Service_TargetDir)Remotion.Linq.dll" />
      </Component>-->
      <!--<Component Id="System.Collections.Immutable.dll" Guid="84573775-fdeb-431e-aa81-a49cb241ba39">
        <File Id="System.Collections.Immutable.dll" Name="System.Collections.Immutable.dll" Source="$(var.Horsesoft.Music.Horsify.Service_TargetDir)System.Collections.Immutable.dll" />
      </Component>-->
      <!--<Component Id="System.ComponentModel.Annotations.dll" Guid="dc1ca41a-66b9-44f6-8826-c2b027d5931f">
        <File Id="System.ComponentModel.Annotations.dll" Name="System.ComponentModel.Annotations.dll" Source="$(var.Horsesoft.Music.Horsify.Service_TargetDir)System.ComponentModel.Annotations.dll" />
      </Component>-->


      <Component Id="Horsify_Importer.exe" Guid="ca14b8e0-1f29-4c1a-a2fd-e96061610be3">
			  <File Id="Horsify_Importer.exe" Name="Horsify Importer.exe" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)Horsify Importer.exe" />
			</Component>
			<Component Id="Horsify_Importer.exe.config" Guid="fd9b983e-9850-4a1e-b5a1-31eb70cd7916">
			  <File Id="Horsify_Importer.exe.config" Name="Horsify Importer.exe.config" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)Horsify Importer.exe.config" />
			</Component>
			<!--<Component Id="CommonServiceLocator.dll" Guid="e91436ca-264f-4e3c-bdc9-a4dee10ec053">
			  <File Id="CommonServiceLocator.dll" Name="CommonServiceLocator.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)CommonServiceLocator.dll" />
			</Component>
			<Component Id="GalaSoft.MvvmLight.dll" Guid="da1c0af9-8941-4c2b-a7fb-a02a13e3f5dc">
			  <File Id="GalaSoft.MvvmLight.dll" Name="GalaSoft.MvvmLight.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)GalaSoft.MvvmLight.dll" />
			</Component>
			<Component Id="GalaSoft.MvvmLight.Platform.dll" Guid="af519be2-bb4b-4b84-91b8-9db6344ef48d">
			  <File Id="GalaSoft.MvvmLight.Platform.dll" Name="GalaSoft.MvvmLight.Platform.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)GalaSoft.MvvmLight.Platform.dll" />
			</Component>
			<Component Id="GalaSoft.MvvmLight.Extras.dll" Guid="f1dcba47-9387-4ee0-aecb-b66af6e2dc96">
			  <File Id="GalaSoft.MvvmLight.Extras.dll" Name="GalaSoft.MvvmLight.Extras.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)GalaSoft.MvvmLight.Extras.dll" />
			</Component>-->
			<Component Id="System.Windows.Interactivity.dll" Guid="9f2327c4-f7a0-4c57-9d10-8b0055211d4e">
			  <File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)System.Windows.Interactivity.dll" />
			</Component>
			<Component Id="Id3.dll" Guid="6289d479-a4d5-4cc8-bb80-9fdab124e36c">
			  <File Id="Id3.dll" Name="Id3.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)Id3.dll" />
			</Component>
			<Component Id="taglib_sharp.dll" Guid="f5363431-6fd5-479e-8194-5811d38c4d33">
			  <File Id="taglib_sharp.dll" Name="taglib-sharp.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)taglib-sharp.dll" />
			</Component>
			<Component Id="Horsesoft.Music.Horsify.Base.dll" Guid="91758d97-c5de-450f-aa26-e4c2371fd505">
			  <File Id="Horsesoft.Music.Horsify.Base.dll" Name="Horsesoft.Music.Horsify.Base.dll" Source="$(var.Horsesoft.Music.Horsify.Base_TargetDir)Horsesoft.Music.Horsify.Base.dll" />
			</Component>
			<Component Id="Prism.dll" Guid="01577341-77f2-4ba4-8fea-20f9525c3e53">
			  <File Id="Prism.dll" Name="Prism.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)Prism.dll" />
			</Component>
			<Component Id="Prism.Wpf.dll" Guid="829b1ffe-0198-4f65-988c-734bb154d41e">
			  <File Id="Prism.Wpf.dll" Name="Prism.Wpf.dll" Source="$(var.Horsesoft.Music.Horsify.Importer.UI.WPF_TargetDir)Prism.Wpf.dll" />
			</Component>
			<Component Id="Horsesoft.Music.Engine.dll" Guid="922e417e-a9b7-4478-be93-afd744967555">
			  <File Id="Horsesoft.Music.Engine.dll" Name="Horsesoft.Music.Engine.dll" Source="$(var.Horsesoft.Music.Engine_TargetDir)Horsesoft.Music.Engine.dll" />
			</Component>
			<Component Id="Microsoft.Practices.ServiceLocation.dll" Guid="2be0bf7a-463c-4054-babd-6d5e9d7b439b">
			  <File Id="Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Microsoft.Practices.ServiceLocation.dll" />
			</Component>
			<Component Id="Horsesoft.Horsify.Resource.dll" Guid="a60af8d5-acce-4b37-afa2-82e7e25d5baa">
			  <File Id="Horsesoft.Horsify.Resource.dll" Name="Horsesoft.Horsify.Resource.dll" Source="$(var.Horsesoft.Horsify.Resource_TargetDir)Horsesoft.Horsify.Resource.dll" />
			</Component>
			<Component Id="Microsoft.Expression.Interactions.dll" Guid="c7b4cd65-ca47-4112-aded-a54aee344187">
			  <File Id="Microsoft.Expression.Interactions.dll" Name="Microsoft.Expression.Interactions.dll" Source="$(var.Horsesoft.Horsify.Resource_TargetDir)Microsoft.Expression.Interactions.dll" />
			</Component>
			<Component Id="Horsify_Jukebox.exe" Guid="57681a7e-51d9-4f5d-95e6-eeb839ab890c">
			  <File Id="Horsify_Jukebox.exe" Name="Horsify Jukebox.exe" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Horsify Jukebox.exe" />
			</Component>
			<Component Id="Horsify_Jukebox.exe.config" Guid="f2462c37-a887-4f2f-9497-d2ed306ab221">
			  <File Id="Horsify_Jukebox.exe.config" Name="Horsify Jukebox.exe.config" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Horsify Jukebox.exe.config" />
			</Component>
			<Component Id="Prism.Unity.Wpf.dll" Guid="87063f58-0a91-4381-938f-d13d77ac6966">
			  <File Id="Prism.Unity.Wpf.dll" Name="Prism.Unity.Wpf.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Prism.Unity.Wpf.dll" />
			</Component>
			<Component Id="netstandard.dll" Guid="3d6a1cc5-58da-42ed-86ff-36c53771024f">
			  <File Id="netstandard.dll" Name="netstandard.dll" Source="$(var.Horsesoft.Horsify.Resource_TargetDir)netstandard.dll" />
			</Component>
			<Component Id="Horsesoft.Horsify.ServicesModule.dll" Guid="43305924-2459-4912-9a8d-4c007e704279">
			  <File Id="Horsesoft.Horsify.ServicesModule.dll" Name="Horsesoft.Horsify.ServicesModule.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Horsesoft.Horsify.ServicesModule.dll" />
			</Component>
			<Component Id="Microsoft.Practices.Unity.dll" Guid="2d16eff6-bee1-40ab-b4a8-a89af9a58ef6">
			  <File Id="Microsoft.Practices.Unity.dll" Name="Microsoft.Practices.Unity.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Microsoft.Practices.Unity.dll" />
			</Component>


      <!--CONTROLS-->
      <Component Id="Horsesoft.Wpf.Controls.Audio.dll" Guid="7F0C883A-2E86-4396-9086-6EDFC9D03EC2">
        <File Id="Horsesoft.Wpf.Controls.Audio.dll" Name="Horsesoft.Wpf.Controls.Audio.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Horsesoft.Wpf.Controls.Audio.dll" />
      </Component>
      
      <!--HORSIFY MODULES-->
      <Component Id="Horsesoft.Horsify.DjHorsify.dll" Guid="80d08ac5-72e9-4eea-9f22-e279be52965e">
        <File Id="Horsesoft.Horsify.DjHorsify.dll" Name="Horsesoft.Horsify.DjHorsify.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Horsesoft.Horsify.DjHorsify.dll" />
      </Component>
      <Component Id="Horsesoft.Horsify.PlaylistsModule.dll" Guid="60FFBD6A-C07D-4FA2-8252-8E5FB911279F">
        <File Id="Horsesoft.Horsify.PlaylistsModule.dll" Name="Horsesoft.Horsify.PlaylistsModule.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Horsesoft.Horsify.PlaylistsModule.dll" />
      </Component>
      <Component Id="Horsesoft.Horsify.MediaPlayer.dll" Guid="b9736da0-dfd8-4522-a69e-4cfb43304a5a">
        <File Id="Horsesoft.Horsify.MediaPlayer.dll" Name="Horsesoft.Horsify.MediaPlayer.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Horsesoft.Horsify.MediaPlayer.dll" />
      </Component>
      <Component Id="Horsesoft.Horsify.QueueModule.dll" Guid="2271a659-eadd-4a8e-992d-024861788836">
        <File Id="Horsesoft.Horsify.QueueModule.dll" Name="Horsesoft.Horsify.QueueModule.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Horsesoft.Horsify.QueueModule.dll" />
      </Component>
      <Component Id="Horsesoft.Horsify.SearchModule.dll" Guid="0ca7349b-ea82-4d83-aac6-ab2d50f49411">
        <File Id="Horsesoft.Horsify.SearchModule.dll" Name="Horsesoft.Horsify.SearchModule.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Horsesoft.Horsify.SearchModule.dll" />
      </Component>
      <Component Id="Horsesoft.Horsify.SettingsModule.dll" Guid="a55a6169-b473-4490-91f9-77866f3f6a63">
        <File Id="Horsesoft.Horsify.SettingsModule.dll" Name="Horsesoft.Horsify.SettingsModule.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Horsesoft.Horsify.SettingsModule.dll" />
      </Component>
      <Component Id="Horsesoft.Horsify.SideMenu.dll" Guid="a62b49c2-25d6-43ef-94d4-d5ed45d9a1d8">
        <File Id="Horsesoft.Horsify.SideMenu.dll" Name="Horsesoft.Horsify.SideMenu.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Horsesoft.Horsify.SideMenu.dll" />
      </Component>
      <!--<Component Id="Horsesoft.Horsify.Statistics.dll" Guid="4d409cc4-fcd7-431f-be20-d494af7ba103">
        <File Id="Horsesoft.Horsify.Statistics.dll" Name="Horsesoft.Horsify.Statistics.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Horsesoft.Horsify.Statistics.dll" />
      </Component>-->
      

      <!--//REMOVE DEBUG DLL-->
			<!--<Component Id="Microsoft.Extensions.Logging.Debug.dll" Guid="3f918b44-6d46-4842-9206-09ef6ad79128">
			  <File Id="Microsoft.Extensions.Logging.Debug.dll" Name="Microsoft.Extensions.Logging.Debug.dll" 
              Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Microsoft.Extensions.Logging.Debug.dll" />
			</Component>-->

      
      <!--LOGGING-->
      <Component Id="System.Numerics.Vectors.dll" Guid="a9b7732a-7351-4d2b-b489-9a73a3c2fee2">
        <File Id="System.Numerics.Vectors.dll" Name="System.Numerics.Vectors.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)System.Numerics.Vectors.dll" />
      </Component>
      <Component Id="System.Memory.dll" Guid="bad547e8-69fd-41b8-bc8d-e0133e1515f0">
        <File Id="System.Memory.dll" Name="System.Memory.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)System.Memory.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Options.ConfigurationExtensions.dll" Guid="79517b6f-5e7f-4bdc-81c6-8087ef78edf2">
        <File Id="Microsoft.Extensions.Options.ConfigurationExtensions.dll" Name="Microsoft.Extensions.Options.ConfigurationExtensions.dll"
              Source="$(var.Horsesoft.Music.Horsify.Base_TargetDir)Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
      </Component>

      <Component Id="Microsoft.Extensions.Caching.Abstractions.dll" Guid="40329762-70e5-4c3f-a548-e214748b3bd5">
        <File Id="Microsoft.Extensions.Caching.Abstractions.dll" Name="Microsoft.Extensions.Caching.Abstractions.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Microsoft.Extensions.Caching.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Caching.Memory.dll" Guid="2e88d0e9-948e-4a08-9667-0f52a5a4e6b7">
        <File Id="Microsoft.Extensions.Caching.Memory.dll" Name="Microsoft.Extensions.Caching.Memory.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Microsoft.Extensions.Caching.Memory.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Configuration.Abstractions.dll" Guid="37326ead-f5a6-44b3-b1c2-48fad98f68c5">
        <File Id="Microsoft.Extensions.Configuration.Abstractions.dll" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.DependencyInjection.dll" Guid="f3e6ba30-333a-4ece-ad42-6246c2876265">
        <File Id="Microsoft.Extensions.DependencyInjection.dll" Name="Microsoft.Extensions.DependencyInjection.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Microsoft.Extensions.DependencyInjection.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Guid="fcb00450-5b59-4e63-b1f6-a71f7ae5865a">
        <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      </Component>

      <Component Id="Microsoft.Extensions.Primitives.dll" Guid="de764ed2-1005-4676-9f2f-fb10dff76f62">
        <File Id="Microsoft.Extensions.Primitives.dll" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Microsoft.Extensions.Primitives.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Options.dll" Guid="bafcfe71-dcc5-452f-a20b-f4c73ac59a81">
        <File Id="Microsoft.Extensions.Options.dll" Name="Microsoft.Extensions.Options.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Microsoft.Extensions.Options.dll" />
      </Component>

      <Component Id="Microsoft.Extensions.Logging.dll" Guid="36a14be1-6981-4eda-a484-3c71add6fb74">
        <File Id="Microsoft.Extensions.Logging.dll" Name="Microsoft.Extensions.Logging.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Microsoft.Extensions.Logging.dll" />
      </Component>
      
      <Component Id="Microsoft.Extensions.Logging.Abstractions.dll" Guid="28eafa38-47b7-41f1-b238-8471d460cbc0">
        <File Id="Microsoft.Extensions.Logging.Abstractions.dll" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" />
      </Component>
      
			<Component Id="Microsoft.Extensions.Logging.Configuration.dll" Guid="984657f0-90ad-42a5-95e8-2a57d226dbdd">
			  <File Id="Microsoft.Extensions.Logging.Configuration.dll" Name="Microsoft.Extensions.Logging.Configuration.dll" 
              Source="$(var.Horsesoft.Music.Horsify.Base_TargetDir)Microsoft.Extensions.Logging.Configuration.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.Binder.dll" Guid="2aba9c34-d7cb-4bff-9b53-c4ad119e5912">
			  <File Id="Microsoft.Extensions.Configuration.Binder.dll" Name="Microsoft.Extensions.Configuration.Binder.dll" 
              Source="$(var.Horsesoft.Music.Horsify.Base_TargetDir)Microsoft.Extensions.Configuration.Binder.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.dll" Guid="12e730e6-ee60-46ec-a368-ec981ecc6509">
			  <File Id="Microsoft.Extensions.Configuration.dll" Name="Microsoft.Extensions.Configuration.dll" 
              Source="$(var.Horsesoft.Music.Horsify.Base_TargetDir)Microsoft.Extensions.Configuration.dll" />
			</Component>
			<Component Id="System.Buffers.dll" Guid="48663074-7edb-4bc5-82fa-cad60290e93a">
			  <File Id="System.Buffers.dll" Name="System.Buffers.dll" Source="$(var.Horsesoft.Music.Horsify.WPF.Shell_TargetDir)System.Buffers.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Logging.Console.dll" Guid="e8b8f151-1ef4-4ef0-9320-63098de6fe94">
			  <File Id="Microsoft.Extensions.Logging.Console.dll" Name="Microsoft.Extensions.Logging.Console.dll" 
              Source="$(var.Horsesoft.Music.Horsify.Base_TargetDir)Microsoft.Extensions.Logging.Console.dll" />
			</Component>
			<!--<Component Id="ShaderEffectLibrary.dll" Guid="5b3a14f2-895b-4b2d-8c7a-b515ee7c7148">
			  <File Id="ShaderEffectLibrary.dll" Name="ShaderEffectLibrary.dll" Source="$(var.Horsesoft.Horsify.DjHorsify_TargetDir)ShaderEffectLibrary.dll" />
			</Component>-->
			<!--<Component Id="Microsoft.Extensions.Logging.Debug.dll" Guid="a573b7e2-6726-4d31-810f-2def92844831">
			  <File Id="Microsoft.Extensions.Logging.Debug.dll" Name="Microsoft.Extensions.Logging.Debug.dll" Source="$(var.Horsesoft.Horsify.DjHorsify_TargetDir)Microsoft.Extensions.Logging.Debug.dll" />
			</Component>-->
			<Component Id="Serilog.dll" Guid="531bbfca-4273-4055-86c7-7a294fef59ea">
			  <File Id="Serilog.dll" Name="Serilog.dll" Source="$(var.Horsesoft.Horsify.DjHorsify_TargetDir)Serilog.dll" />
			</Component>
			<Component Id="Serilog.Extensions.Logging.dll" Guid="03ee8675-f7eb-4e40-81a9-2db79f02fec2">
			  <File Id="Serilog.Extensions.Logging.dll" Name="Serilog.Extensions.Logging.dll" Source="$(var.Horsesoft.Horsify.DjHorsify_TargetDir)Serilog.Extensions.Logging.dll" />
			</Component>
			<Component Id="Serilog.Formatting.Compact.dll" Guid="6f5dfe5b-658f-4383-81e1-f1b96fc18a64">
			  <File Id="Serilog.Formatting.Compact.dll" Name="Serilog.Formatting.Compact.dll" Source="$(var.Horsesoft.Horsify.DjHorsify_TargetDir)Serilog.Formatting.Compact.dll" />
			</Component>
			<Component Id="Serilog.Sinks.Async.dll" Guid="f1d26c6b-1047-44e2-a016-7cdb08f6e7fc">
			  <File Id="Serilog.Sinks.Async.dll" Name="Serilog.Sinks.Async.dll" Source="$(var.Horsesoft.Horsify.DjHorsify_TargetDir)Serilog.Sinks.Async.dll" />
			</Component>
			<Component Id="Serilog.Sinks.File.dll" Guid="7bc6addd-c4b6-40fc-95ea-68229484cdc0">
			  <File Id="Serilog.Sinks.File.dll" Name="Serilog.Sinks.File.dll" Source="$(var.Horsesoft.Horsify.DjHorsify_TargetDir)Serilog.Sinks.File.dll" />
			</Component>
			<Component Id="Serilog.Sinks.RollingFile.dll" Guid="a65b163a-1102-45f1-92ce-cc1b7f885fef">
			  <File Id="Serilog.Sinks.RollingFile.dll" Name="Serilog.Sinks.RollingFile.dll" Source="$(var.Horsesoft.Horsify.DjHorsify_TargetDir)Serilog.Sinks.RollingFile.dll" />
			</Component>      
      <Component Id="Serilog.Extensions.Logging.File.dll" Guid="274d314c-b3eb-40c4-b8e7-73d6bc441258">
        <File Id="Serilog.Extensions.Logging.File.dll" Name="Serilog.Extensions.Logging.File.dll" Source="$(var.Horsesoft.Horsify.DjHorsify_TargetDir)Serilog.Extensions.Logging.File.dll" />
      </Component>
      
			<Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="b1e22f7c-f1ad-4779-b623-bce9f53558ea">
			  <File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.Horsesoft.Horsify.DjHorsify_TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
			</Component>
      
			<Component Id="Microsoft.EntityFrameworkCore.Abstractions.dll" Guid="7dd5b634-008b-4d05-9992-71c7e243039b">
			  <File Id="Microsoft.EntityFrameworkCore.Abstractions.dll" Name="Microsoft.EntityFrameworkCore.Abstractions.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)Microsoft.EntityFrameworkCore.Abstractions.dll" />
			</Component>
			<Component Id="Microsoft.EntityFrameworkCore.Relational.dll" Guid="3f19e26f-5fe6-4cd3-b5b1-c1d57ec9647e">
			  <File Id="Microsoft.EntityFrameworkCore.Relational.dll" Name="Microsoft.EntityFrameworkCore.Relational.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)Microsoft.EntityFrameworkCore.Relational.dll" />
			</Component>
			<Component Id="Microsoft.EntityFrameworkCore.Sqlite.dll" Guid="a7cbaaef-3284-4412-8414-fb9e38a434c1">
			  <File Id="Microsoft.EntityFrameworkCore.Sqlite.dll" Name="Microsoft.EntityFrameworkCore.Sqlite.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)Microsoft.EntityFrameworkCore.Sqlite.dll" />
			</Component>
			<Component Id="Remotion.Linq.dll" Guid="cabbf8cd-0324-4aff-b4a1-1f80714a81c6">
			  <File Id="Remotion.Linq.dll" Name="Remotion.Linq.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)Remotion.Linq.dll" />
			</Component>
			<Component Id="System.Collections.Immutable.dll" Guid="3f5515ae-adcf-41af-a6b1-e458bda9d97e">
			  <File Id="System.Collections.Immutable.dll" Name="System.Collections.Immutable.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)System.Collections.Immutable.dll" />
			</Component>
			<Component Id="System.ComponentModel.Annotations.dll" Guid="7075b40d-07e1-4b82-9020-8fd06d788b7e">
			  <File Id="System.ComponentModel.Annotations.dll" Name="System.ComponentModel.Annotations.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)System.ComponentModel.Annotations.dll" />
			</Component>
			<Component Id="System.Interactive.Async.dll" Guid="ec3e38bd-e62e-457e-b4d0-39926be2991b">
			  <File Id="System.Interactive.Async.dll" Name="System.Interactive.Async.dll" Source="$(var.Horsesoft.Horsify.SongService_TargetDir)System.Interactive.Async.dll" />
			</Component>
			<!--<Component Id="Microsoft.Extensions.Logging.Debug.dll" Guid="a4d73717-5a1d-4281-a629-d7f0359394f9">
			  <File Id="Microsoft.Extensions.Logging.Debug.dll" Name="Microsoft.Extensions.Logging.Debug.dll" Source="$(var.Horsesoft.Horsify.DjHorsify_TargetDir)Microsoft.Extensions.Logging.Debug.dll" />
			</Component>-->
			<!--<Component Id="System.Runtime.dll" Guid="59d14da9-979a-4238-af2d-b837e79b8c00">
			  <File Id="System.Runtime.dll" Name="System.Runtime.dll" Source="$(var.Horsesoft.Music.Engine_TargetDir)System.Runtime.dll" />
			</Component>-->
      
			<!--<Component Id="System.Resources.ResourceManager.dll" Guid="cb1b4d7a-13ef-4b2b-8bec-fe77a09ec543">
			  <File Id="System.Resources.ResourceManager.dll" Name="System.Resources.ResourceManager.dll" 
              Source="$(var.Horsesoft.Music.Engine_TargetDir)System.Resources.ResourceManager.dll" />
			</Component>-->
      
			<!--<Component Id="System.Diagnostics.Tools.dll" Guid="095ee441-01ba-4ffa-b9cb-10c49c5b02be">
			  <File Id="System.Diagnostics.Tools.dll" Name="System.Diagnostics.Tools.dll" 
              Source="$(var.Horsesoft.Music.Engine_TargetDir)System.Diagnostics.Tools.dll" />
			</Component>-->
      
			<!--<Component Id="System.Diagnostics.Debug.dll" Guid="eca2b94f-9aac-44da-86f4-55c9037716b0">
			  <File Id="System.Diagnostics.Debug.dll" Name="System.Diagnostics.Debug.dll" Source="$(var.Horsesoft.Music.Engine_TargetDir)System.Diagnostics.Debug.dll" />
			</Component>
			<Component Id="System.Globalization.dll" Guid="d5ff997b-7821-4611-91aa-3a51f5ffebf6">
			  <File Id="System.Globalization.dll" Name="System.Globalization.dll" Source="$(var.Horsesoft.Music.Engine_TargetDir)System.Globalization.dll" />
			</Component>-->
			<!--<Component Id="System.ObjectModel.dll" Guid="02146112-d3f4-4fb7-b8e9-153a299491b4">
			  <File Id="System.ObjectModel.dll" Name="System.ObjectModel.dll" Source="$(var.Horsesoft.Music.Engine_TargetDir)System.ObjectModel.dll" />
			</Component>
			<Component Id="System.Linq.Expressions.dll" Guid="d4650466-4219-4218-aa38-443d03c9040d">
			  <File Id="System.Linq.Expressions.dll" Name="System.Linq.Expressions.dll" Source="$(var.Horsesoft.Music.Engine_TargetDir)System.Linq.Expressions.dll" />
			</Component>
			<Component Id="System.Collections.dll" Guid="d45c3247-3aa8-4b2f-9049-b855d01a3898">
			  <File Id="System.Collections.dll" Name="System.Collections.dll" Source="$(var.Horsesoft.Music.Engine_TargetDir)System.Collections.dll" />
			</Component>
			<Component Id="System.Reflection.dll" Guid="187eb7f7-ed8f-4634-ac90-5e3c5d673e46">
			  <File Id="System.Reflection.dll" Name="System.Reflection.dll" Source="$(var.Horsesoft.Music.Engine_TargetDir)System.Reflection.dll" />
			</Component>
			<Component Id="System.Threading.dll" Guid="720f66f2-334f-4600-a65a-d1468a37dc89">
			  <File Id="System.Threading.dll" Name="System.Threading.dll" Source="$(var.Horsesoft.Music.Engine_TargetDir)System.Threading.dll" />
			</Component>
			<Component Id="System.Linq.dll" Guid="9c80965b-34e3-42ce-8d00-03a439dd31bc">
			  <File Id="System.Linq.dll" Name="System.Linq.dll" Source="$(var.Horsesoft.Music.Engine_TargetDir)System.Linq.dll" />
			</Component>
			<Component Id="System.Threading.Tasks.dll" Guid="4af72f60-35bb-482a-9821-56dbd3f3d219">
			  <File Id="System.Threading.Tasks.dll" Name="System.Threading.Tasks.dll" Source="$(var.Horsesoft.Music.Engine_TargetDir)System.Threading.Tasks.dll" />
			</Component>
			<Component Id="System.Reflection.Extensions.dll" Guid="4b34b139-7e96-44ff-8840-0cf6a03a106d">
			  <File Id="System.Reflection.Extensions.dll" Name="System.Reflection.Extensions.dll" Source="$(var.Horsesoft.Music.Engine_TargetDir)System.Reflection.Extensions.dll" />
			</Component>-->

		</ComponentGroup>
	</Fragment>
</Wix>
